* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 0.5px solid #E5E9EB;
}
.logo {
    display: flex;
    gap: 8px;
}
.logo img{
    width: 24px;
    height: 24px;
    top: 24px;
    left: 24px;
    opacity: 1;
}
.Search {
    position: relative;
    
}
.Search input {
    width: 700px;
    height: 40px;
    top: 16px;
    left: 372px;
    border-radius: 6px;
    border: 1px solid #DDE2E4;
    opacity: 1;
    padding: 10px;
}
.Search img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    top: 8px;
    opacity: 1;
}
.btn {
    display: flex;
    gap: 10px;
}
.btn-signUp {
    width: 88px;
    height: 40px;
    top: 16px;
    left: 1661px;
    border-radius: 6px;
    border: 1px solid #DDE2E4;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    opacity: 1;
    cursor: pointer;
}
.btn-signIn {
    width: 88px;
    height: 40px;
    top: 16px;
    left: 1661px;
    border-radius: 6px;
    border: 1px solid #DDE2E4;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    opacity: 1;
    cursor: pointer;
}
h1 {
    width: 422px;
    height: 32px;
    opacity: 1;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 40px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #0D6EFD;
    margin: 20px auto ;
}
.main {
    padding: 20px;
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: calc(33.33% - 14px); /* 3 cột */
}
.card img {
    width: 100%;
    height: auto;
}
.date {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #6155F5;
}
.see-details {
    display: flex;
    justify-content: space-between;
}
.see-details h2 {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #101828;
}
.see-details img {
    width: 24px;
    height: 24px;
    opacity: 1;
}
.description {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #667085;
}
.btn-of-card {
    display: flex;
    justify-content: space-between;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%; 
}
.btn-name-card {
    width: 100%px;
    height: 24px;
    border-radius: 16px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
    opacity: 1;
    display: inline-block;
    background-color: #F9F5FF;
    border: none;
}
.btn-edit {
    width: 113px;
    height: 24px;
    border-radius: 16px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
    opacity: 1;
    background-color: #F9F5FF;
    border: none;
    color: #FF2D55;
}
.pagination {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #667085;
    display: flex;
    justify-content: space-between;
    width: 557px;
    height: 102px;
    margin: auto;
    align-items: center;
}
.navigation-page {
    display: flex;
}
.navigation-page a {
    text-decoration: none;
    color: #667085;
}
.number-page button{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    opacity: 1;
    border: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #667085;
}
hr {
    border: 0.5px solid #E4E4E7;
    margin: 20px;
}
.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.footer h3 {
    color: #18181B;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0px;
}
.information-blog {
    display: flex;
    justify-content: space-between;
}
.rareblocks {
    width: 20%;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #52525B;
}
.company {
    width: 13%;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #18181B;
}
.list-data {
    list-style-type: none;
}
.help {
    width: 13%;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #18181B;
}
.resources {
    width: 13%;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #18181B;
}
.icons {
    display: flex;
    gap: 30px;
    width: 150px;
}
.icons img {
    width: 14,5px;
    height: 12px;
}